{% load static %}
<div class="col-xxl-4 col-lg-4">
    <div class="profile__tab mr-40">
        <nav>
            <div class="nav nav-tabs tp-tab-menu flex-column" id="profile-tab" role="tablist">
                <a href="/account/" class="nav-link active"><span><i
                            class="fa-solid fa-chart-pie"></i></span>Dashboard</a>
                <a href="/account/profile/" class="nav-link"><span><i class="fa-solid fa-address-card"></i></span>
                    Profile</a>
                <a href="/account/shipping_address/" class="nav-link"><span><i
                            class="fa-solid fa-location-dot"></i></span>
                    Address </a>
                <a href="/account/my_orders/" class="nav-link"><span><i class="fa-solid fa-receipt"></i></span> My
                    Orders
                </a>
                <a href="/logout/" class="nav-link"><span><i class="fa-solid fa-right-from-bracket"></i></span> Logout
                </a>
            </div>
        </nav>
    </div>
</div>
